body {
	background-color:#fff;
	margin:0;
	overflow:hidden;
}

/* timer */
progress {
	z-index:20;
	position:fixed;
	bottom:1.5%;
	width:100%;
	display:block;
	-webkit-appearance:none;
	-moz-appearance:none;
	background-color:transparent;
	border:none;
}

progress::-webkit-progress-bar {
	z-index:20;
	position:fixed;
	bottom:1.5%;
	width:100%;
	background:transparent;
}

progress::-webkit-progress-value {
	z-index:20;
	position:fixed;
	bottom:1.5%;
	height:1.5%;
	background-color:#fff;
}

progress::-moz-progress-bar {
	z-index:20;
	position:fixed;
	bottom:1.5%;
	width:100%;
	background-color:#fff;
}

/* cursor */
#Cursor {
	z-index:20;
	visibility:hidden;
	position:fixed;
	border-radius:50%;
	height:5vw;
	width:5vw;
	border-style:solid;
	border-width:.2vw;
	border-color:#fff;
}

#ActiveCursor {
	z-index:20;
	visibility:hidden;
	position:relative;
	top:1.25vw;
	left:1.25vw;
	border-radius:50%;
	height:2.5vw;
	width:2.5vw;
	background-color:#fff;
}

#_Gradient {
  z-index:10;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: fixed;
  margin: auto;
  border: none;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: -webkit-linear-gradient(-73.30075576600638deg, rgba(150,241,255,0.24) 0, rgba(255,255,255,0) 100%);
  background: -moz-linear-gradient(163.30075576600638deg, rgba(150,241,255,0.24) 0, rgba(255,255,255,0) 100%);
  background: linear-gradient(163.30075576600638deg, rgba(150,241,255,0.24) 0, rgba(255,255,255,0) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

/* GUI elements */
#Dial {
	z-index:20;
	visibility:hidden;
	position:fixed;
	height:20vw;
	width:20vw;
}

#DialInner {
	z-index:20;
	position:fixed;
	height:10vw;
	width:21vw;
}

#DialHalfCircle {
	z-index:20;
	position:fixed;
	overflow:hidden;
	height:10vw;
	width:20.4vw;
}

#DialHalfCircleInner {
	z-index:20;
	border-radius:50%;
	height:20vw;
	width:20vw;
	border-style:solid;
	border-width:.2vw;
	border-color:#fff;
}

#DialArrow {
	z-index:20;
	position:absolute;
	left:-1.075vw;
	bottom:.4vw;
	height:2vw;
	width:2vw;
	border-style:solid;
	border-width:.2vw;
	border-bottom-color:#fff;
	border-left-color:transparent;
	border-right-color:#fff;
	border-top-color:transparent;
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}

#DialTarget {
	z-index:20;
	display:block;
	position:absolute;
	right:-2.4vw;
	bottom:-6.2vw;
	border-radius:50%;
	height:6vw;
	width:6vw;
	border-style:solid;
	border-width:.2vw;
	border-color:#fff;
}

#Circle {
	z-index:20;
	position:fixed;
	visibility:hidden;
	border-radius:50%;
	height:10vw;
	width:10vw;
	display:block;
	border-style:solid;
	border-width:.2vw;
	border-color:#fff;
}

#Start {
	z-index:20;
	visibility:hidden;
	display:table;
	position:fixed;
	border-radius:50%;
	background-color:transparent;
	height:15vw;
	width:15vw;
	border-style:solid;
	border-width:.2vw;
	border-color:#fff;
	color:#fff;
}

#Start > span {
	z-index:20;
	display:table-cell;
	vertical-align:middle;
	font-family:sans-serif;
	font-size:2em;
	text-align:center;
}

#IntroText {
	z-index:20;
	display:table;
	position:fixed;
	background-color:transparent;
	height:100%;
	width:100%;
	color:#fff;
}

#IntroTextSpan {
	z-index:20;
	visibility:hidden;
	display:table-cell;
	vertical-align:middle;
	font-family:sans-serif;
	font-size:15vw;
	text-align:center;
}

/* Generated by Brackets Swatcher
@color0:#057877; 
@color1:#ffb733; 
@color2:#f57335; 
@color3:#c22121; 
@color4:#7f1537; 
@color5:#ff9b55; 
@color6:#6b587b; 
@color7:#299086; 
@color8:#ff7c78; 
@color9:#f1937a; 
@color10:#936f60; 
@color11:#fed9c1; 
@color12:#feffff; 
@color13:#404040; 
@color14:#252525; 
@color15:#cacaca; 
@color16:#dcdcdc; 
@color17:#818181; 
@color18:#bcd772; 
@color19:#0ca5c2; 
@color20:#fb8787; 
@color21:#0248cc; 
@color22:#0a8cc9; 
@color23:#3ddede; 
@color24:#80e9c8; 
*/